<h3>- 공 지 사 항 -</h3>
<b>최재연 오전 5시까지 종각역 집합</b>
<hr>
<input type="checkbox" id="chk" onclick="makeCookie()">
<label for="chk">하루동안 열지 않음</label>
<script>
    function makeCookie(){
        //location.href = "http://www.naver.com";
        location.href = "/cookie/makeCookie"; // 경로를 요청한다.
        window.close();
    }
</script>
